
build-Parcial-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/.qmake.stash
build-Parcial-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/main.o
build-Parcial-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/Parcial.exe
build-Parcial-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile
*.Debug
*.Release
